@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 47.9 95.8% 53.1%;
		--primary-foreground: 26 83.3% 14.1%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 35.5 91.7% 32.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		@apply user-select-none;
	}
}

@layer utilities {
	.user-select-none {
		user-select: none;
	}
}

.bg-body {
	background: rgb(255, 208, 59);
	background: linear-gradient(29deg, rgba(255, 208, 59, 0.007247967546393563) 0%, rgba(255, 249, 232, 0.2537465669861695) 100%);
}

.bg-head {
	background: hsl(46, 100%, 62%);
	background: linear-gradient(29deg, rgba(255, 208, 59, 0.03405112044817926) 0%, rgba(255, 249, 232, 0.4290091036414566) 100%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.otp .otpbox {
	gap: 0.55rem !important;
	text-align: center !important;
	justify-content: center !important;
	margin: auto !important;
}

.otp input {
	width: 4.125rem !important;
	height: 4.125rem !important;
	border-radius: 0.9rem !important;
	border: 0.1rem solid #b2b2b2;
	color: #000 !important;
	background-color: #f5f5f5 !important;
	user-select: none !important;
}

.otp input:focus {
	outline: none !important;
	border: 0.15rem solid #2e425c !important;
	user-select: none !important;
}
